body{
    background-color: #f3f5f5;
    margin: 0;
}

.header{
    margin:0 5%;
    border: 0;
}

.header-content{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    background-color: white;
}

a{
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    border-radius: 5px;
    /*text-align: center;*/
}

.header-list a{
    color:rgba(0,0,0,0.65);
    font-size: 20px;
    font-weight: 800;
    margin-right: 30px;
    padding: 5px 20px;
    text-align: center;
}

.header-list a:hover{
    color:#007aff;
    /*background-color: #404089;*/
}

.header-list .active{
    color: #007aff;
    background-color: #9bbdf3;}

.header-logo{
    display: flex;
}

.header-logo span{
   font-weight: bold;
    font-size: 18px;
    padding-top: 6px;
}

.header-logo img{
    width: 32px;
    height: 32px;
}

.header-login{
    display: flex;
    justify-items: center;
    margin-right: 10px;
}

.header-login img{
    width: 20px;
    height: 20px;
}

.main{
    margin: 0 5%;
}

.main-title{
    background-color: white;
    padding: 9px 0;
    border-bottom: 3px solid white;
}

.main-title a{
    border-bottom: 3px solid transparent;
    transition:0.3s ease;
    padding: 9px 12px;
    margin-right: 20px;
    border-radius: 0;
    font-weight: 500;
}

.main-title a:hover{
    color: #434ce8;
    border-bottom-color: rgba(0,0,0,0.2);
}

.main-title .active{
    color: #434ce8;
    border-bottom-color:#434ce8;
}

.main-content{
    display: flex;
    border-top: 1px solid #404089;
    justify-content: space-between;
}

.content-list{
    display: flex;
    flex-direction: column;
    background-color: white;
    height:100%;
}

.content-list a{
    text-decoration: none;
    color:#404089;
    padding: 9px 6px 9px 12px;
    width: 90px;
}

.content-list a:hover{
    color: #434ce8;
}

.content-list .active{
    color: #434ce8;
    background-color: #ecf3fe;
}

.content-main{
    display: flex;
    flex-wrap: wrap;
    /*z-index: -2;*/
}

.main-content .content-main a{
    margin: 6px 9px;
}
.main-content .start{
    margin-top: 6px;
}
.main-content .start a{
    padding: 3px 4px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 10px;
}

.main-content .start a:hover{
    border: 2px solid blue;
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.card-set>i{
    width: 175px;
    margin: 0 0 0 20px;
}

/*.card-set::after{*/
/*    content: '';*/
/*    flex: auto;*/
/*}*/

.card{
    width: 175px;
    height: 110px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 10px 0 10px 20px;
    background-color: white;
}

.card-header{
    display: flex;
    padding: 8px 18px 0 8px;
    justify-content: space-between;
}

.card-header .name{
    display: flex;
}

.card-header h3{
    font-size: 14px;
    margin: 0 0 0 10px;
}

.card-body p{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 12px;
    text-indent: 2em;
    margin:0 10px 5px 15px;
}

.card-header img{
    width: 20px;
    height:20px;
}

.card-footer{
    display: flex;
    align-items: center;
    border-top: 1px cornflowerblue solid;
    justify-content: center;
}

.card-footer a{
    margin-top: 4px;
    text-decoration: none;
    color:black;
    font-size: 8px;
    padding: 0 5px;
}

.card-footer a:hover{
    color: white;
    background-color:cornflowerblue;
}

/* Grow-Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.toggle span {
    display: block;
    width: 20px;
    height: 12px;
    border-radius: 99em;
    background-color: #e9ecf4;
    box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    transition: 0.15s ease;
}
.toggle span:before {
    content: "";
    display: block;
    position: absolute;
    left: 1.5px;
    top: 1.5px;
    height: 9px;
    width: 9px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    transition: 0.15s ease;
}
.toggle input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 0.5px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.5px;
}
.toggle input:checked + span {
    background-color: #434ce8;
}
.toggle input:checked + span:before {
    transform: translateX(calc(100% - 1px));
}
.toggle input:focus + span {
    box-shadow: 0 0 0 2px #ecf3fe;
}

.mypage .mypage-main{
    display: flex;
}

.mypage .mypage-main .go-to-add{
    width: 175px;
    height: 110px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 10px 0 10px 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.mypage .mypage-main .go-to-add a{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.mypage .mypage-main .go-to-add img{
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.mypage .go-to-add div{
    margin-top: 5px;
    font-size: 15px;
}